@import 'tailwindcss';

@layer base {
  *, 
  body {
    transition: ease-in-out 0.25s;
  }

  aside {
    left: -600px;
  }

  .icon {
    @apply h-14 w-14 p-2 flex items-center justify-center bg-gray-700/20 rounded-full
  }
  .icon:hover {
    @apply bg-gray-700 cursor-pointer rounded-full
  }

  .big-btn {
    @apply w-[90%] h-fit p-4 flex items-center justify-evenly  bg-gray-700/20 rounded-full
 }
  .big-btn > p {
    @apply text-gray-300 font-bold text-xl flex items-center justify-center
  }
  .big-btn > img {
    @apply h-14 w-14 p-2 flex items-center justify-center
  }
  .big-btn:hover {
    @apply cursor-pointer bg-gray-300/25 border-none
  }

  .shdbg {
    position: fixed; 
    display: none;
  }

  .note {
    @apply w-96 h-90 rounded-2xl 
  }
  .note:hover {
    @apply -translate-y-2 shadow-lg shadow-gray-200
  }
  .title-note {
    @apply w-full h-25 bg-yellow-500 rounded-t-2xl border-b-2 border-b-black flex items-center pl-8
  }
  .title-note h2 {
    @apply text-3xl font-bold
  }
  .text-note {
    @apply w-full h-65 bg-gray-200 rounded-b-2xl p-5
  }
  .text-note h4 {
    @apply text-xl font-semibold wrap-break-word
  }
}
